*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    overflow-x: hidden;
    color: #fff;
}
header{
    background-image:linear-gradient(rgba(185, 48, 48, 0.34),rgba(0, 0, 0, 0.589)), url("../image/shashikant7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.clearfix::after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
.logo{
    width: auto;
    height: 120px;
    float: left;
    margin-top: 20px;
    
}
.row{
    max-width: 1180px;
    margin: 0 auto;
}
.main-nav li a:hover{
    border-bottom: 2px solid #bf55bf;
}
.main-nav{
    float: right;
    margin-top: 60px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-right: 40px;
}
.main-nav li a{
    padding: 5px 0px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;
}
.main-content-header{
    width: 1180px;
    position: absolute;
    /* border: 1px solid red; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    color: white;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2;
}
.btn-full{
    background-color: transparent;
    color: white;
    margin-right: 15px;
    border: 1px solid black;
}
.btn-full:hover{
    background-color: green;
}
.btn-nav{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.btn-nav:hover{
    background-color: #bf55ec;
}
.colorchange:hover{
    animation: colorchangethapa 1s infinite;
}
@keyframes colorchangethapa{
    0%{color: red;}
    25%{colo:#bf55ec}
    50%{color: white;}
    100%{color: #bf55ec;   }
}
.mobile-icon{display: none;}



/* ////Responsive media queries//// */

@media only screen and (max-width:1180px){
    .main-content-header{
        width: 100%;
        padding: 0px 2%;
    }
}
@media only screen and (max-width:998px){
    h1{font-size: 200%;}
}
@media only screen and (max-width:768px){
    h1{font-size: 180%;}
    .main-nav{
        display: none;
    }
    .mobile-icon{
        display: inline-block;
        color: #fff;
        float: right;
        margin-top: 30px;
        margin-right: 20px;
    }
    .main-nav {
        float: left;
    }
    .main-nav li{
       
        display: block;
        margin-top: 10px;

    }
}


@media only screen and (max-width:480px){
    .btn-full{
        margin-bottom: 20px;
    }
    h1{
        font-size: 160%;
    }
}
@media only screen and (max-width:360px){
    .main-content-header{
        margin-top: 20px;
    }
}
.main-nav li a:hover{
    transition-duration: 0.1s;
    
}
@media only screen and (max-width:320px){
    .main-content-header{
        margin-top: 120px;
    }
}